*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(2,0,36);
background: linear-gradient(356deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color: white;
}

.location , .temperature{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.location .search{
    width: 14rem;
    height: 2rem;
    border-radius: 15px;
    text-align: center;
} 

.location .btn:hover{
    background: black;
    color: white;
}

.location .btn{
    width: 5rem;
    height: 2rem;
    border-radius:15px ;
    text-align: center;
}

.temperature{
    flex-direction: column;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 1rem;
    font-size: 2rem;
}

.degree-section h2{
    font-size: 3rem;
}

.other{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.other i{
    margin: 1rem;
}
